
html, body, #home {
    height: 100%;
}

body {
    background-image: url(https://user-images.githubusercontent.com/44476076/78515771-7da0b680-778d-11ea-9529-092e181de6be.jpg);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.6);
}

.capa {
    padding: 20px;
    text-align: center;
}

#home .container {
    background-color: white;
    height: 230px;
    width: 420px;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

#historia .container {
    background-color: white;
    height: 600px;
    border-radius: 8px;
    margin-bottom: 100px;
}

.historia2 {
    margin-top: 60px;
}

.img-arredondar {
    border-radius: 4px;
}

#habilidades .container {
    margin-bottom: 50px;
} 

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

h5 {
    color: white;
    text-transform: uppercase;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.progress {
    height: 35px;
    margin-bottom: 15px;
}

.btn-custom .btn-branco .btn-center {
    text-align: center;
}

#btn-center {
    margin-top: 90px;
    text-align: center;
}

.btn-branco {
   border: 2px solid white; 
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

#button-up {
    text-align: center;
}

footer {
    background: black;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer li {
    float: right;
    margin: 0 8px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

@media (min-width: 1200px) {
  
}


